# === LabVIEW ===
*.lvlps
*.aliases
*.lvtmp
*.vi.tmp
*.lvbitx
*.lvconf

# === Dokumentacija (veliki fajlovi) ===
*.pdf
*.pptx
*.ppt
*.docx

# === Arhive ===
*.zip
*.rar
*.7z
*.tar.gz

# === Sistem ===
Thumbs.db
desktop.ini
.DS_Store

# === Editor ===
.vscode/
.idea/
*.swp